.logo {
  max-height: 75px !important ;
}
.pull-right .breadcrumb {
  background-color: transparent !important;
}
@media only screen and (max-width: 600px) {
  .logo {
    max-height: 40px !important ;
  }
}
.slider-section .contact-form .form-control input[type="tel"],
.slider-section .contact-form .form-control input[type="email"] {
  display: inline-block;
  margin-bottom: 13px;
  background-color: #2d404f;
  border: 3px solid rgba(255, 255, 255, 0.2);
  padding: 7px 20px;
  color: #fff;
}

p,
.top-header p,
.logo-block .call-us p,
.cart,
.welcome-section .col-md-8 p,
.testimonial .carousel-caption h3 span,
.byline > span,
.product-section .pagination > li a,
.prev-next-btn .col-md-2 i,
.single-product-detail .woocommerce-tabs .nav-tabs > li > a,
.contact-detail-box > p > a {
  color: #000;
}

.welcome-section .col-md-8 p {
  text-align: justify !important;
}

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
}

h1{
   text-shadow: 0 2px 4px rgba(250, 250, 250, 0.2);
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #c9302c;

  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #c9302c;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c9302c;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #c9302c;
  color: white;
}

/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #c9302c;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

#street-view {
  height: 100%;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.topdd {
  /* background-image: url("https://app.prositeweb.ca/users/wp-content/plugins/min-search-prositeweb/img/map.jpg"); 
           background-size:     cover;       
    background-repeat:   no-repeat;
    background-position: center center;     */
  min-height: 350px;
}
.tit_eval_resul {
  font-size: 14px;
  font-weight: 600;
  margin: 30px 0 50px 0;
  text-align: center;
}
.valeur2 h2 {
  color: #fff;
  font-weight: 900;
}
#msform .action-button {
  width: 100px;
  background: #333;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.h3,
h3 {
  font-size: 18px;
}
.actibit h3 {
  color: red;
  font-weight: 900;
}
#map {
  height: 100%;
}
#locationField,
#controls {
  position: relative;
  /*  width: 480px;*/
}
#autocomplete {
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
  font-family: "Roboto";
}
#address {
  border: 1px solid #000090;
  background-color: #f0f9ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  /* height: 20px;*/
  margin-bottom: 2px;
}

#street-view {
  width: 100%;
  height: 0;
  padding: 0 0 83% 0;
  float: left;
  position: relative;
  background: none;
}

.wpcf7-response-output {
  background-color: #fff !important;
}

/* .texte-footer {
    color: white !important;
  font-size: 13px !important;
  padding: 20px 10px !important;
  display: block !important;
  text-align: center !important;
} */

.wpcf7-form .mc4wp-checkbox {
  display: flex !important;
  font-size: 14px !important;
}
.wpcf7-form .mc4wp-checkbox input {
  width: 20x !important;
}

@media screen and (min-width:768px) {
	.hide_on_desktop {
		display:none;
	}
}


@media screen and (max-width:767px) {
	.hide_on_mobile {
		display:none
	}
	
	.testi1 {

    top: -150px!important;
    position: relative!important;
}
}


@media (max-width:1281px) {
	
  #locationField {
    margin-bottom: 2px;
    position: relative;
    top: -175px;
}
    #slideshow {
    top: 155px;
}
}

@media (min-width:1281px) {
	
  #locationField {
    margin-bottom: 2px;
    position: relative;
    top: -175px;
}
    #slideshow {
    top: 155px;
}
}