<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="group">
        <img class="image" src="img/image-1.png" />
        <img class="info-immobilier" src="img/info-immobilier-white-1.png" />
        <div class="frame">
          <div class="div">
            <div class="frame-2">
              <div class="akar-icons-search"><img class="vector" src="img/vector.svg" /></div>
              <p class="search-destinations">Entrez l’addresse de votre propriété</p>
            </div>
            <div class="div-wrapper"><div class="text-wrapper">Rechercher</div></div>
          </div>
        </div>
        <p class="p">Obtenez la valeur marchande de votre propriété</p>
        <div class="frame-3"></div>
        <div class="div-2">
          <div class="h"><div class="text-wrapper-2">Étape 1:</div></div>
          <div class="div-3"><div class="text-wrapper-3">trouvez votre propriété</div></div>
          <img class="maison" src="img/image.png" />
        </div>
        <div class="div-4">
          <div class="h-2"><div class="text-wrapper-4">Étape 2:</div></div>
          <div class="div-5"><div class="text-wrapper-5">Détails de la propriété</div></div>
          <img class="img" src="img/maison-1.png" />
        </div>
        <div class="div-6">
          <div class="h-3"><div class="text-wrapper-4">Étape 3:</div></div>
          <div class="div-7"><div class="text-wrapper-5">Obtenir le rapport</div></div>
          <img class="rapport" src="img/rapport-1.png" />
        </div>
        <p class="text-wrapper-6">
          Recevez gratuitement et sans engagement l’évaluation de votre propriété, incluant les comparables vendus et en
          cours dans votre secteur.
        </p>
      </div>
    </div>
  </body>
</html>
