.box {
  position: relative;
  width: 1440px;
  height: 910px;
}

.box .group {
  position: fixed;
  top: -23px;
  left: 0;
  width: 1444px;
  height: 910px;
}

.box .image {
  position: absolute;
  top: 23px;
  left: 0;
  width: 1440px;
  height: 887px;
  object-fit: cover;
}

.box .info-immobilier {
  position: absolute;
  top: 23px;
  left: calc(50.00% - 203px);
  width: 402px;
  height: 203px;
  aspect-ratio: 1.77;
  object-fit: cover;
}

.box .frame {
  display: flex;
  flex-direction: column;
  width: 968px;
  align-items: flex-start;
  gap: 8.43px;
  padding: 8.43px 16.87px;
  position: absolute;
  top: 615px;
  left: 236px;
  background-color: #ffffff66;
  border-radius: 16.87px;
  backdrop-filter: blur(16.87px) brightness(100%);
  -webkit-backdrop-filter: blur(16.87px) brightness(100%);
}

.box .div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 199px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.box .frame-2 {
  display: flex;
  width: 398.48px;
  align-items: center;
  gap: 8.43px;
  padding: 12.65px 8.43px;
  position: relative;
}

.box .akar-icons-search {
  position: relative;
  width: 21.08px;
  height: 21.08px;
  opacity: 0.7;
}

.box .vector {
  position: absolute;
  width: 79.17%;
  height: 79.17%;
  top: 3.33%;
  left: 3.33%;
}

.box .search-destinations {
  position: relative;
  width: fit-content;
  margin-top: -1.07px;
  opacity: 0.7;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.43px;
  padding: 12.65px 33.73px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 33.73px;
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -2.11px;
  opacity: 0.7;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #05b0ef;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .p {
  position: absolute;
  top: 251px;
  left: 223px;
  width: 994px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 64.4px;
}

.box .frame-3 {
  position: absolute;
  top: 23px;
  left: 0;
  width: 1440px;
  height: 90px;
  background-color: #ffffff05;
  backdrop-filter: blur(8.43px) brightness(100%);
  -webkit-backdrop-filter: blur(8.43px) brightness(100%);
}

.box .div-2 {
  position: absolute;
  top: 480px;
  left: 236px;
  width: 312px;
  height: 124px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(49, 175, 226, 1) 0%,
    rgba(0, 127, 178, 1) 100%
  );
}

.box .h {
  display: flex;
  width: 164px;
  left: 81px;
  align-items: flex-start;
  padding: 0px 204px 1px 0px;
  position: absolute;
  top: 36px;
}

.box .text-wrapper-2 {
  margin-right: -126.00px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.48px;
  line-height: 30px;
  white-space: nowrap;
}

.box .div-3 {
  display: flex;
  width: 206px;
  align-items: flex-start;
  padding: 0px 5.17px 0px 0px;
  position: absolute;
  top: 67px;
  left: 81px;
  overflow: hidden;
}

.box .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 358.83px;
  margin-top: -1.00px;
  margin-right: -5.17px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.box .maison {
  position: absolute;
  top: 34px;
  left: 14px;
  width: 55px;
  height: 55px;
  aspect-ratio: 1;
  object-fit: cover;
}

.box .div-4 {
  position: absolute;
  top: 480px;
  left: 564px;
  width: 312px;
  height: 124px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(49, 175, 226, 1) 0%,
    rgba(0, 127, 178, 1) 100%
  );
}

.box .h-2 {
  display: inline-flex;
  left: 81px;
  align-items: flex-start;
  padding: 0px 204px 1px 0px;
  position: absolute;
  top: 36px;
}

.box .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.48px;
  line-height: 30px;
  white-space: nowrap;
}

.box .div-5 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 5.17px 0px 0px;
  position: absolute;
  top: 67px;
  left: 81px;
}

.box .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 358.83px;
  margin-top: -1.00px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.box .img {
  position: absolute;
  top: 34px;
  left: 15px;
  width: 55px;
  height: 55px;
  aspect-ratio: 1;
  object-fit: cover;
}

.box .div-6 {
  position: absolute;
  top: 480px;
  left: 892px;
  width: 312px;
  height: 124px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(49, 175, 226, 1) 0%,
    rgba(0, 127, 178, 1) 100%
  );
}

.box .h-3 {
  display: inline-flex;
  left: 88px;
  align-items: flex-start;
  padding: 0px 204px 1px 0px;
  position: absolute;
  top: 36px;
}

.box .div-7 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 5.17px 0px 0px;
  position: absolute;
  top: 67px;
  left: 88px;
}

.box .rapport {
  position: absolute;
  top: 40px;
  left: 26px;
  width: 45px;
  height: 45px;
  aspect-ratio: 1;
  object-fit: cover;
}

.box .text-wrapper-6 {
  position: absolute;
  top: 399px;
  left: 280px;
  width: 880px;
  font-family: "Helvetica-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
