#slideshow {
  position: relative;
  padding: 10px;
}

#slideshow > div {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  /* top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;*/
}

#slideshow {   
  position: relative;
  padding: 10px;
}
#slideshow > div > h2 {
  line-height: 5px;
}
/* Avoid drift on zoom: no extra top offset */
#slideshow > div {
  top: 0;
}
#slideshow > div > p,
#slideshow > div > i {
  line-height: 1px;
}
#slideshow > div > span > img {
  max-width: 50px ;
  height: auto;
}

.testimonial-container{
    display: flex;
    justify-content: space-around;
}

/* Keep top spacing stable across zoom: prefer padding over margin */
.slideshow-container{
  padding-top: 25px;
  margin-top: 0;
}

.leffr {
  max-width: 70%;
}
.rightt {
  padding-right: 20px;
  padding-top: 7px;
  max-width: 20%;
}

  .testimonial-container .rightt img{
    max-width: 50px !important;  
}  

.titre {
  font-weight: 900 !important;
  padding: 0px;
  line-height: 1px;
}

.wpcf7-mail-sent-ok {
  display: none !important;
}
.wpcf7-validation-errors {
  margin-top: 10px !important;
}
.wpcf7-not-valid {
  border-color: red !important;
}

.wpcf7-select{
    font-size: 16px !important;
  -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}

h1,
h2,
h3 {
  text-transform: none !important;
  color: #000;
}
h1 {
  font-size: 38px;
  text-transform: uppercase !important;
  margin-bottom: -10px;
}
h2 {
  color: #000 !important;
}
h2:before,
h2:after {
  content: "";
  display: block;
  background-color: #c9302c;
  height: 2px;
  width: 40%;
  margin: auto;
}
h2:before {
  margin-bottom: 20px;
}
h2:after {
  margin-top: 20px;
}
/*.topdd {*/
/*  background: rgba(255, 255, 255, 0.8);*/
/*  border-radius: 20px;*/
/*  padding: 30px 0px;*/
/*}*/

/*.fa {*/
/*  font-size: 4.2em;*/
/*  background-color: #fff;*/
/*  padding: 15px;*/
/*  border-radius: 50%;*/
/*  margin-bottom: 25px;*/
/*}*/
.loading .fa {
  font-size: 2.4em;
  background-color: #ffffff;
  color: #008CC8 !important;
  margin-bottom: 2px;
  border-radius: 50% !important;
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  text-align: center !important;
  display: inline-block !important;
}
.one-step-old .fa {
  font-size: 4.2em;
  color: #008CC8;  
  background: transparent;
  padding: 2px;
  margin-bottom: 0px;
}
#msform {
  max-width: 80%;
  margin: auto;
}
.forny #msform {
  max-width: 100%;
  margin: auto;
}
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #999;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #000;
  font-size: 20px;
  background-color: #fff;
}
.btn {
  border-radius: 10px !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 900 !important;
  padding: 15px;
}
#msform {
  text-align: center;
  position: relative;
  margin-top: 0px;
}
::placeholder {
  color: #000 !important;
  font-weight: 900 !important;
  font-size: 18px !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000 !important;
  font-weight: 900 !important;
  font-size: 18px !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000 !important;
  font-weight: 900 !important;
  font-size: 18px !important;
}
.form-control {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  border-radius: 0;
  max-width: 100%;
  height: 50px;
}
.select {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 900 !important;
  border-radius: 10px !important;
}
.fffes {
  margin-top: 15%;
}
.fffes h1 {
  padding-bottom: 25px;
}
.fffes h3 {
  font-size: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
html,
span,
button,
input,
select, 
textarea {
  font-family: "Roboto", sans-serif;
}

/* Removed empty body rule to satisfy linter */

h3.statuss {
  color: #c9302c !important;
}
.steps {
  text-align: center;
  padding: 25px 35px 0px 35px;
  display: flex !important;
}

/* Set the size of the div element that contains the map */
#map {
  height: 480px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  margin-bottom: 25px;
  border: 5px solid #00aeef;
  border-radius: 16px;
  overflow: hidden; /* ensure map tiles/controls follow rounded corners */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.wpcf7-submit {
  transition: all 0.3s ease-in-out;
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  background-color: #00aeef !important;
  border-color: white !important;
  color: white !important;
}
button:hover,
.wpcf7-submit:hover {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  background-color: white !important;
  border-color: white !important;
  color:#00aeef !important;
}
.one-step-old {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 1) !important;
  font-size: 8px;
  padding: 20px 0px;
}
.one-step-old.done {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1) !important;
}
.one-step-old:not(.active) {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1) !important;
}
.one-step-old h3 {
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase !important;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  .topdd {
    padding-left: 15px;
    padding-right: 15px;
  }
  .steps {
    padding-left: 15px;
    padding-right: 15px;
  }

  .one-step-old {
    padding: 5px;
  }
  .one-step-old .fa {
    font-size: 18px !important;
    padding: 2px;
    margin-right: 5px;
  }
  .one-step-old h3 {
    padding: 4px;
    font-size: 11px;
  }
}
.red {
  color: #c9302c;
}
a.red:hover {
  text-decoration: underline;
  color: #c9302c;
}

@media (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
  #slideshow {
    width: 100% !important;
  }
  .leffr {
    width: 70%;
  }

  #slideshow div {
    width: auto !important;
  }
  .no-mobile-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .step2 .slideshow-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .steps {
    padding-left: 15px;
    padding-right: 15px;
  }
  .topdd {
    border-radius: 0px;
  }
  #msform {
    max-width: 100%;
  }
  .one-step-old:not(.done) {
    flex-direction: column;
  }
  .one-step-old.done .fa {
    padding: 7px !important;
    font-size: 20px !important;
    margin: 11px !important;
  }
  .one-step-old .fa {
    margin-right: 0px;
  }
  .one-step-old.done h3 {
    display: none;
  }
  .one-step-old h3 {
    padding: 10px 5px;
    text-align: center;
    font-size: 11px;
  }
  .unite,
  .addresses {
    clear: both;
    width: 100% !important;
    float: none !important;
  }
}

/* Mobile: center the spinner under the form bar */
@media (max-width: 767px){
  #msform #locationField .loading{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 8px 0 !important;
  }
  #msform #locationField .loading .fa{ margin: 0 !important; }
}
/* Removed empty .page rule to satisfy linter */
#slideshow {
  /* width: 350px; */
  position: relative;
  margin: auto;
}
.fa-star {
  font-size: 12px !important;
  padding: 2px !important;
  color: #ffc107 !important;
  margin-bottom:22px ;
}
#slideshow p {
  line-height: 10px !important;
}
#slideshow div {
  background-color: #fff;
  /* width: 350px; */
  height: auto;
  /* position: fixed !important;*/
}
.page {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible !important;
}
.pushtop {
  margin-top: -20px !important;
}
.containers {
  /*   background-color: rgba(0,0,0,.5) !important;*/
  height: 150px;
}

#map button,
#map .gmnoprint {
  display: none !important;
}
#map a div {
  display: none !important;
}

.unite {
  float: right !important;
  width: 25% !important;
}
.addresses {
  float: left !important;
  width: 75% !important;
}

@media (max-width: 576px) {
  .unite,
  .addresses {
    clear: both;
    width: 100% !important;
    float: none !important;
  }

  .testimonial-container .rightt img{
    max-width: 40px !important;  
}  
}
#wpcf7-submit .wpcf7-submit {
  background-color: rgba(242, 0, 0, 0.8) !important;
}
.cache {
  display: none !important;
}
